<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Student Form</h3>
    <%= form_tag(students_path) do%>
    <%= text_field_tag 'first_name' %>
    <%= text_field_tag 'last_name' %>
    <%= submit_tag 'Submit Student'%>
    <% end %>
  </body>
</html>
